
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAPA</title>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin=""></script>

</head>


<style>
  #mapid {
    width: 100%;
    height: 800px;
    box-shadow: 5px 5px 5px #888;
 }
 .buttoms{
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px 32px;
    text-align: center;
    margin: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;


 }
</style>

<body>
    <body>
        <div style="width:70%;" >
          <form action="/camaras" method="POST">
            <button class="buttoms" type="submit">GRAFICO TIPO DE CAMARAS</button>
          </form>
          <form action="/barrio" method="POST">
            <button  class="buttoms" type="submit">GRAFICO CANTIDAD CAMARAS POR BARRIO</button>
          </form>
          <form action="/comuna" method="POST">
            <button class="buttoms" type="submit">GRAFICO CAMARAS POR COMUNA</button>
          </form>
          <form action="/velocidad" method="POST">
            <button class="buttoms" type="submit">GRAFICO CANTIDAD CAMARAS A DETERMINADA VELOCIDAD</button>
          </form>

        </div>
        <div id="mapid">
          <script>
            var mymap = L.map('mapid').setView([-34.574408,-58.522302], 13);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?{foo}', {foo: 'bar'}).addTo(mymap);
              
            {% for item in listaCamaras %}
              var marker = L.marker([{{ item.latitud }},{{ item.longitud }}]).addTo(mymap);
              {% if item.velocidad == '0' %}
                {% if item.altura == '0' %}
                  marker.bindPopup("<b>Informacion</b><br>{{item.direccion}}<br> Tipo: {{item.tipo}}").openPopup();
                {% else %}
                  marker.bindPopup("<b>Informacion</b><br>Direccion: {{item.direccion}} {{item.altura}}<br> Tipo: {{item.tipo}}").openPopup();
                {% endif %}
              {% else %}
                {% if item.altura == '0' %}
                  marker.bindPopup("<b>Informacion</b><br>{{item.direccion}}<br> Tipo: {{item.tipo}}<br> Velocidad: {{item.velocidad}}").openPopup();
                {% else %}
                  marker.bindPopup("<b>Informacion</b><br>Direccion: {{item.direccion}} {{item.altura}}<br> Tipo: {{item.tipo}}<br> Velocidad: {{item.velocidad}}").openPopup();
                {% endif %}
              {% endif %}
            {% endfor %}
          </script>
        </div>
      </body>
</body>


</html>